.track {
  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
  padding: 8px 0;
  box-sizing: border-box;
  will-change: scroll-position;
}

.track:active {
  cursor: grabbing;
}

.track::-webkit-scrollbar {
  display: none;
}
